*.env
.venv/
venv/
.idea
__pycache__/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
.env/
.env
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
wheels/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
/.env.local
